@model HotelManagement.Models.ServiceUsage

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/AdminHotels/Views/Shared/Admin.cshtml";
}

<h1 style="color: #197fca;">Chi Tiết Dịch Vụ Sử Dụng</h1>

<div>
    <h4 style="color: #ec4e45;">Dịch Vụ Sử Dụng</h4>
    <hr />
    <dl class="row">
        <!-- Quantity -->
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <!-- TotalPrice -->
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <!-- Booking -->
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>

        <!-- Service -->
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsageId" class="btn" style="background-color: #197fca; color: white; border-color: #197fca; padding: 5px 10px;">Chỉnh Sửa</a>
    <a asp-action="Index" class="btn" style="background-color: #ec4e45; color: white; border-color: #ec4e45; padding: 5px 10px;">Quay lại danh sách</a>
</div>
