@model IEnumerable<HotelManagement.Models.Staff>

@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
    Layout = "~/Areas/AdminHotels/Views/Shared/Admin.cshtml";
}

<h1 style="color: #197fca;">Danh Sách Nhân Viên</h1>

<p>
    <a asp-action="Create" style="color: #197fca;">Tạo Mới</a>
</p>

<table class="table" style="border: 1px solid #ec4e45;">
    <thead style="background-color: #197fca; color: white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId" style="color: #197fca;">Sửa</a> 
                    <a asp-action="Details" asp-route-id="@item.StaffId" style="color: #197fca;">Chi Tiết</a> 
                    <a asp-action="Delete" asp-route-id="@item.StaffId" style="color: #ec4e45;">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
