@model IEnumerable<HotelManagement.Models.Booking>

@{
    ViewData["Title"] = "Danh Sách Đặt Phòng";
    Layout = "~/Areas/AdminHotels/Views/Shared/Admin.cshtml";
}
<style>
    form select.form-select-sm {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
</style>
<h1 style="color: #197fca;">Danh Sách Đặt Phòng</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th style="color: #197fca;">
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th style="color: #197fca;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <form asp-action="UpdateStatus" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@item.BookingId" />
                        <select name="status" class="form-select form-select-sm" onchange="this.form.submit()">
                            <option value="Confirmed" selected="@(item.Status == "Confirmed")">Thanh toán thành công</option>
                            <option value="Pending" selected="@(item.Status == "Pending")">Chưa thanh toán</option>
                            <option value="Cancelled" selected="@(item.Status == "Cancelled")">Huỷ đặt phòng</option>
                        </select>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomNumber)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.BookingId" style="color: #ec4e45;">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
