@model HotelManagement.Models.Hotel

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/AdminHotels/Views/Shared/Admin.cshtml";
}

<h1 style="color: #197fca;">Chi Tiết Khách Sạn</h1>

<div>
    <h4 style="color: #197fca;">Thông Tin Khách Sạn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2" style="color: #197fca;">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.HotelId" style="color: #197fca;">Chỉnh Sửa</a> |
    <a asp-action="Index" style="color: #197fca;">Quay Lại Danh Sách</a>
</div>
